<%= form_with(model: word) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
        <% word.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style='
    diplay: flex;
    flex-direction: row;
    background-color: yellow;
  '>
    <%= form.text_field :newWord %>
    <%= form.text_field :translation %>
    <%= form.submit %>
  </div>
<% end %>
