<div style='display: flex; flex-direction: row; justify-content: space-around; align-items: center; background-color: blue;'>
  <h1><%= Word.count %> New Words</h1>
  <%= render 'form', word: @word %>
</div>
  

  <% @words.each do |word| %>
    <div style='display: inline-block;'>
      <div data-controller="toggle">
        <div data-toggle-target="slide" >
          <button class='word' data-action="toggle#word">
            <%= word.newWord %>
          </button>
        </div>
        <div data-toggle-target="slide">
          <button class='translation' data-action="toggle#translation">
            <%= word.translation %>
          </button>
        </div>
      </div>
    </div>
  <% end %>


<p id="notice"><%= notice %></p>
</div>
