<div style='display: flex; flex-direction: row; justify-content: space-around; align-items: center; background-color: blue;'>
  <h1><%= Word.count %> New Words</h1>
  <%= render 'form', word: @word %>
</div>
  

<% @words.each do |word| %>
  <div class='container' style='display: inline-block;'>
    <div class='card' data-controller="toggle">
      <div class='word' data-action="toggle#word" data-toggle-target="slide" >
        <%= word.newWord %>
      </div>
      <div class='translation' data-action="toggle#translation" data-toggle-target="slide">
        <%= word.translation %>
      </div>
    </div>
  </div>
<% end %>


<p id="notice"><%= notice %></p>
</div>
